<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Jake Dudum", "https://jakedudum.github.io/react-portfolio/", class: "text-white" %></small>
  </div>
</footer>
